body {
    height: 100vh;
    background-color: black;
    min-height: 100%;
    background-image: linear-gradient(black, rgb(37, 37, 37))no-repeat;

}

header {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    border: 5px solid #ffffff;
    border-radius: 20px;
    background-image: linear-gradient(black, #900C3F);
    width: 50%;
 
    left: 0;
    bottom: 0;
    z-index: 2;

}

h1 {
    font-family: "citrus-gothic", sans-serif;
    font-size: 30px;
    margin-right: auto;
}

.push {
    margin-left: auto;
}



/*/////////////////////footer/////////////////////////*/
footer {
    display: flex;
    flex-direction:column;
    margin-top: 100px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(#900C3F, black);
    height: 80px;
    padding: 60px 0px;
}

p {
    font-family: "citrus-gothic", sans-serif;
    font-size: 30px;
    color: white;
    text-shadow: 4px 4px black;
    text-align: center;
    justify-content: center;
}

/*//////////////////////Navigation////////////*/

button {
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    font-family: "citrus-gothic", sans-serif;
    font-size: 20px;
    text-shadow: 4px 4px black;
    padding: 10px;
    margin: 2px;
    transition-duration: .4s;
    z-index: 3;
}

button:hover {
    background-color: black;
    opacity: 70%;
    color: #900C3F;
    cursor: pointer;
}

button:active {
    background-color: #ec7aa6;
    opacity: 50%;
    box-shadow: 0 5px white;
    opacity: 50%;
    transform: translateY(4px);
}
/*/////////////////TypeSection//////////////////*/

.typography-container{
    display:flex;
    margin:20px;
    background-color: #ec7aa6;
}

.typography-container2{
    display:flex;
    margin:20px;
    background-color: aqua;
}

.typography-container3{
    display:flex;
    margin:20px;
    background-color: chartreuse;
}

.typography-container4{
    display:flex;
    margin:20px;
    background-color:darkgoldenrod;
}

.type-image{
    margin:20px;
    width:400px;
    height:400px;
}



  p2 {
    padding: 10px;
    margin:50px;
    width:400px;
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color:white;
    background-color: #900C3F;
}