body{
    background-color: black;
    background-image:url("home_images/GWDS_Slide1.png");
    background-repeat: no-repeat;
    background-attachment: center;
    background-size: 100% 100%;
}

header{
    position: absolute;
    top:0%;
    background-image:linear-gradient(black,#900C3F);
    width:auto;
}

h1{
    font-size: 20px;
    margin-right: auto;
}

.container-navigation{

    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.push{
    margin-left: auto;
}


.home-section-one{
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: center;
    height: 1000px;
}

.home-image{

    margin:10px;
    border: 5px solid #900C3F; 
    border-radius:20px;
    box-shadow: 5px 5px 10px black;
    align-items: center;

}


/*/////////////////////footer/////////////////////////*/
footer{
    position:absolute;
    bottom: 0%;
    width:100%;
    background-image:linear-gradient(#900C3F,black);
    height: 120px;
    padding:10px 0px;
    
}

p{
    color:white;
    text-align:center;
}

/*//////////////////////Navigation////////////*/

button{
    color:white;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    padding: 10px;
    margin: 2px;
    transition-duration: .4s;
}

button:hover{
    background-color:black; opacity: 70%;
    color:#900C3F;    
}

button:active{
    background-color: #ec7aa6; opacity: 50%;
    box-shadow: 0 5px white; opacity: 50%;
    transform:translateY(4px);
}
