body{
    background-color:black;
}



h1{
    font-size: 20px;
    margin-right: auto;
}

.container-navigation{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.push{
    margin-left: auto;
}

.slideshow-container{
    position:relative;
}

.myslides{
    display: hide;
}


/*/////////////////////footer/////////////////////////*/
footer{
    background-color: #900C3F;
    height: 100px;
    padding:10px 0px;
}

p{
    color:white;
    text-align:center;
}

button{
    color:white;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    padding: 10px;
    margin: 2px;
    transition-duration: .4s;
}

button:hover{
    background-color:black;
    color:#900C3F;    
}

button:active{
    background-color: #3e8e41;
    box-shadow: 0 5px darkred;
    transform:translateY(4px);
}
